html, 
body{
    background-color: lightblue;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: brown;
    margin-left: 1px;
    border: 5px solid saddlebrown;
}

img {
   display: block;
   margin-left: auto;
   margin-right: 10px; 
}


